<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.li.task4.dao.ProfessionDao">
    <select id="getProfessionWithDirection" resultType="cn.li.task4.entity.Profession" parameterType="int">
        SELECT * FROM vocation WHERE v_direction=#{v_direction}
    </select>
</mapper>